.cart-table {
    border-collapse: collapse;
}

.cart-table__row-bordered {
    border-bottom: 1px solid black;
}

.cart-table__label {
    padding: 4px;
    background-color: rgba(255,0,0,.5);
}

.cart-table__note {
    color: #555;
}