.product-container {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px dotted #ccc;
}

.product-price {
    display: flex;
    align-items: center;
    font-weight: 700;
    text-align: center;
}

.product-price_red {
    color: red;
}

.product-price_green {
    color: green;
}